<!-- your html code here -->
<span>
    <br>
<div class="container">
    <div class="row">
        
        <div class="col-8">
            <p class> <h1>The first Heading <span class="text-muted">Will Catch Your Eye.</h1>
</span>            
             <p class="text-justify">What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <br> printer took a galley of type and scrambled it to make a type specimen book.</p>  
        </div>
        <div class="col-4" >
            <style>
                img {
                border-radius: 50%;
                    }
            </style>
            <img src="/website1/assets/img/1.jpg" class="rounded-circle" widht="400px" height="400px">
        </div>
    </div>
</div>
