<!-- your html code here -->
<div>
    <h1>Portfolio</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</p>
    <div class="container">
        <div class="row align-items-start">
            <div class="col" class="w-25 p-3">
                <img src="/website1/assets/img/big-project-image.png" width="100%">
                <h5>
                    <p style="color:#006699">Project Name</p>
                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="col" class="w-25 p-3">
                <img src="/website1/assets/img/big-project-image.png" width="100%">
                <h5>
                    <p style="color:#006699">Project Name</p>
                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="col" class="w-25 p-3">
                <img src="/website1/assets/img/big-project-image.png" width="100%">
                <h5>
                    <p style="color:#006699">Project Name</p>
                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <hr/> 
</div>