<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="./assets/img/2.jpg" class="rounded-circle" widht="280px" height="280px">
        </div>
        <div class="col-9">
            <p class=h1>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span>
            </h1>
             <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis <br> euismod semper. Preasent commodo cursus magna, vel scelerisque
                nisl
                consectetur.<br>
                Fusce dapibus, tellus ac cursos commodo.</p>  
        </div>
    </div>
</div>